header {
  background-color: rgb(238, 51, 51);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  height: 8rem;
  color: white;
}

.titleText {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  text-align: center;
}
