main {
  padding: 5rem;
  background-color: cornflowerblue;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 1rem;
}

.card:hover {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.4);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border: 3pt solid black;
  width: 15rem;
  height: 15rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: white;
}

.card-img {
  width: 13rem;
}
