main {
  padding: 5rem;
  background-color: cornflowerblue;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 1rem;
}

.card:hover {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.4);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border: 3pt solid black;
  width: 15rem;
  height: 15rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: white;
}

.card-img {
  width: 13rem;
}

.modal {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #48ad16;
  border: 3pt solid black;
  padding: 3rem;
  border-radius: 1rem;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: end; */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.button {
  color: white;
  background-color: rgb(238, 51, 51);
  border: none;
  padding: 0.5rem;
  position: relative;
  margin: 1rem 50%;
  width: 4rem;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.button:hover {
  background-color: rgb(196, 36, 36);
}

.modal h2 {
  margin: 1rem 0;
}